// ----------- Grid Layout
@mixin mix-grid($size: 'small') {
  @if $size == 'small' {
    display: grid;
    padding: 0.8em;
    gap: 0.4em;
    background-color: $secondary-color;
    grid-template-columns: 1fr 1fr;
  } @else if $size == 'medium' {
    grid-template-columns: repeat(3, 1fr);
  } @else if $size == 'large' {
    grid-template-columns: repeat(4, 1fr);
  }
}

// ----------- General Card Style
@mixin general-card {
  aspect-ratio: 1; // give each grid item a square ratio
  border-radius: 1.2rem;
  overflow: hidden; // make sure the album cover images stay within the div and its rounded corners
  position: relative;
}

// ----------- Title Card Style
@mixin title-card($size: 'small') {
  @if $size == 'small' {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 0.5rem;
    background-image: $primary-color;
    font-size: $small-head;
    line-height: 170%;
  } @else if $size == 'medium' {
    aspect-ratio: auto;
    font-size: $medium-head;
  } @else if $size == 'large' {
    aspect-ratio: auto;
    font-size: $large-head;
  } @else {
    font-size: $xlarge-head;
  }
}

// ----------- Subhead Card Style
@mixin subhead-card($size: 'small') {
  @if $size == 'small' {
    padding: 0.5rem;
    background-color: $secondary-color;
    font-size: $small-subhead;
  } @else if $size == 'medium' {
    font-size: $medium-subhead;
  } @else if $size == 'large' {
    font-size: $large-subhead;
  }
}

// ----------- Song Info Style
@mixin song-info($size: 'small') {
  @if $size == 'small' {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include frosted-glass;
    // background-color: black;
    font-size: $small-song;
    p {
      margin: auto;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .song-title {
      padding-top: 1rem;
      font-weight: 600;
    }
    .song-artist {
      font-weight: 300;
      font-size: 80%;
    }
  } @else if $size == 'medium' {
    font-size: $medium-song;
  } @else if $size == 'large' {
    font-size: $large-song;
  }

}

// Frosted Glass Effect
@mixin frosted-glass {
  background-color: #00000026;  
  backdrop-filter: blur(5px);
}