// ----------- Breakpoints
$medium-break: 720px; // roughly tablet-size
$large-break: 1120px; // roughly laptop-size
$xlarge-break: 1600px;

// ----------- Colors
$primary-color: linear-gradient(135deg, #020024 5%, #090979 45%, #06829b 100%);
$secondary-color: #191919;
$text-color: white;

// ----------- Font Sizes
$small-head: 3rem; // smaller than 720px (mobile)
$small-subhead: 1.8rem;
$small-song: 1.2rem;
$medium-head: 3.4rem; // 720px (tablet)
$medium-subhead: 2rem;
$medium-song: 1.4rem;
$large-head: 3.8rem; // 1080px (laptop)
$large-subhead: 2.2rem;
$large-song: 1.6rem;
$xlarge-head: 4.8rem;