/* Jessie Jalca */
/* --------------- Import files & APIs */
/* normalize & add font family */
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300;400;600;800&display=swap');

// import partials
@import 'partials/_variables';
@import 'partials/_mixins';

/* --------------- Basic styling for the whole page & footer */
body { 
  font-family: 'Gantari', sans-serif;
  color: $text-color;
  background-color: $secondary-color;
}

img {
  max-width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  padding-bottom: 0.7em;
}

/* --------------- Start with mobile-sized viewport */
.mix-grid {
  @include mix-grid;
}
.general-card {
  @include general-card;
}
.title-card {
  @include title-card;
}
.subhead-card {
  @include subhead-card;
}
.song-info {
  visibility: hidden;
  @include song-info;
}
.song:hover {
  .song-info {
    visibility: visible;
  }
  border: 2px solid white;
}

/* --------------- Adjust grid and styles for roughly tablet-sized viewport */
@media screen and (min-width: $medium-break) and (max-width: $large-break) {
  .mix-grid {
    @include mix-grid('medium');
  }
  .title-card {
    @include title-card('medium');
  }
  .subhead-card {
    @include subhead-card('medium');
  }
  .song-info {
    @include song-info('medium');
  }
}

/* --------------- Adjust grid and styles for roughly laptop-sized and larger viewport */
@media screen and (min-width: $large-break) {
  .mix-grid {
    @include mix-grid('large');
  }
  .title-card {
    @include title-card('large');
  }
  .subhead-card {
    @include subhead-card('large');
  }
  .song-info {
    @include song-info('large');
  }
  .playlist-card {
    aspect-ratio: auto;
    grid-column: 2 / span 3;
  }
}

@media screen and (min-width: $xlarge-break) {
  .title-card {
    @include title-card('xlarge');
  }
  .subhead-card {
    @include subhead-card('xlarge');
  }
}